body {
  background-image: url("./src/assets/bg.jpg");
  background-size: cover;
}

input {
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus {
  outline: none;
}

#app {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

span {
  color: #ffffff;
}

#center-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
  height: auto;

  flex-direction: column;
}

#logo {
  margin-top: 40px;
  margin-bottom: 20px;
}

#streak-container {
  margin-left: auto;
  margin-right: auto;
  width: 560px;
  height: 140px;
  border: 1px #fff solid;
  margin-bottom: 20px;
}

#search-bar-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 3px #350833 solid;
  background-color: #4e0d4b;
  border-radius: 20px;


  width: 560px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#search-bar {
  color: #fff;
  font-size: 24px;
  width: 455px;
  margin: 0 5px;
  height: 60px;

  background-color: #4e0d4b;
}

#search-btn {
  transition: .2s ease;
  margin: 5px 0;
  width: 90px;
  height: 60px;
  background-color: #4e0d4b;
  background-image: url("./src/assets/satellite.png");
  background-size: contain;
  background-repeat: no-repeat;

}

#search-btn:hover {
  cursor: pointer;
  transform: rotate(-5deg);
}

#filters {
  width: 100%;
  font-size: 24px;

  display: grid;
  grid-template-columns: [Character] 160px [Gender] 160px [Age] 160px [Species] 160px [versions] 190px [firstappearance] 400px;
  gap: 10px;
}

.filter {
  text-align: center;
}


.guess {
  width: 100%;
  height: 80px;
  font-size: 24px;

  display: grid;
  align-items: stretch;
  justify-items: stretch;
  grid-template-columns: [Character] 160px [Gender] 160px [Age] 160px [Species] 160px [versions] 190px [firstappearance] 400px;
  gap: 10px;

}

.char-image-container {
  position: relative;

}

.char-image {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 80px;
  height: 80px;
  overflow: hidden;
  border: 3px #8b1486 solid;
}

.char-text {
  padding: 2px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgb(36, 38, 41);
  border: 3px #350833 solid;
}

.char-image-container:hover .char-text {
  opacity: 1;
}

.color-box {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  border: 3px #8b1486 solid;
}

.correct {
  background-color: #0ac12c;
}

.incorrect {
  background-color: #d81511;
}

.partial {
  background-color: #db810b;
}