html,
body {
  overflow-x: hidden;
  max-width: 100%;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

input {
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus {
  outline: none;
}

#main {}

#app {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto;
  top: 0px;
  left: 0px;
}

span {
  color: #ffffff;
}

h1 {
  color: #c882c8;
}

#win-container {
  visibility: hidden;
  opacity: 0;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#win-screen {
  margin-top: 40px;
  width: 480px;
  height: 640px;
  padding: 10px;
  border-radius: 5px;
  background-color: #3a3a3a;
}

#win-img {
  width: 100%;
  height: auto;
}

#center-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  height: auto;

  flex-direction: column;
}

#logo {
  margin-top: 40px;
  margin-bottom: 20px;
}

#streak-container {
  margin-left: auto;
  margin-right: auto;
  width: 560px;
  height: 140px;
  border: 1px #fff solid;
  margin-bottom: 20px;
}

#search-bar-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  border: 3px #350833 solid;
  background-color: #4e0d4b;
  border-radius: 20px;


  width: 560px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

#search-bar-container-inner {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0px 5px 10px;
}

#search-bar {
  color: #fff;
  font-size: 24px;
  width: 455px;
  height: 60px;
  border-radius: 20px;

  background-color: #4e0d4b;
}

#search-btn {
  transition: .2s ease;
  margin: 5px 0;
  width: 90px;
  height: 60px;
  background-color: #4e0d4b;
  background-size: contain;
  background-repeat: no-repeat;

}

#search-btn:hover {
  cursor: pointer;
  transform: rotate(-5deg);
}

#search-results {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 560px;
  max-height: 240px;
  overflow: auto;
  z-index: 8;

  border: 3px #350833 solid;
  background-color: #4e0d4b;
  border-radius: 20px;
}

.result {
  padding: 5px;
  border-radius: 20px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.result:hover {
  background-color: #751270;
  cursor: pointer;
}

.result-img {

  margin-left: 20px;
  width: 60px;

  height: 60px;
  overflow: hidden;
}

.result-text {
  font-size: 24px;
  margin-left: 20px;
}

#filters {
  width: 100%;
  font-size: 24px;

  display: grid;
  grid-template-columns: [Name] 160px [Character] 160px [Gender] 160px [Age] 160px [Species] 160px [versions] 190px [firstappearance] 400px;
  gap: 10px;
}

.filter {
  text-align: center;
}


.guess {
  width: 100%;
  height: 80px;
  font-size: 24px;
  margin-bottom: 20px;

  display: grid;
  align-items: stretch;
  justify-items: stretch;
  grid-template-columns: [Name] 160px [Character] 160px [Gender] 160px [Age] 160px [Species] 160px [versions] 190px [firstappearance] 400px;
  gap: 10px;

}

.char-image-container {
  position: relative;

}

.char-image {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 80px;
  height: 80px;
  overflow: hidden;
  border: 3px #8b1486 solid;
}

.char-text {
  padding: 2px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 25%;
  background-color: rgb(36, 38, 41);
  border: 3px #350833 solid;
}

.char-image-container:hover .char-text {
  opacity: 1;
}

.color-box {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  border: 3px #8b1486 solid;
}

.color-box-text {
  width: 100%;
  word-wrap: break-word;
  text-align: center;
}

.correct {
  background-color: #0ac12c;
}

.incorrect {
  background-color: #d81511;
}

.partial {
  background-color: #db810b;
}


.correct:hover {
  background-color: #0dda33;
}

.incorrect:hover {
  background-color: #e61714;
}

.partial:hover {
  background-color: #ff9710;
}

.fade-in {
  visibility: visible !important;
  opacity: 1 !important;
  transition: opacity 0.25s linear;

}

.fade-out {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: visibility 0s 0.25s, opacity 0.25s linear;
}


@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.inactive {
  display: none;
}